<p class="title">
  <strong style="font-size:1.8em;">Start Analyzing Sentiment</strong>
  <br><br>
  This website experiments with two NLP tools: VADER and
  TextBlob to get users' sentiment scores and compares
  their performance.
</p>

<div class="container">
      <mat-card>
        <input type="file" id="fileElem" accept=".txt" style="display:none">
        <button mat-raised-button class="choose-file-btn" id="fileSelect">
          <mat-icon inline=true style="float:left;">attach_file</mat-icon>
          Choose File
        </button>
        <mat-form-field appearance="outline" class="input" id="first-input">
          <mat-label>Email Address</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
          <mat-label>Project Name</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" class="submit-btn" routerLink="/performance">
          Submit
        </button>
      </mat-card>
</div>
