<p class="title">
  <strong style="font-size:1.8em;">Start Analyzing Sentiment</strong>
  <br><br>
  This website experiments with two NLP tools: VADER and
  TextBlob to get users' sentiment scores and compares
  their performance.
</p>

<div class="container">
    <mat-card>
      <form [formGroup]="fileSubmit">
        <input type="file" id="fileElem" accept=".txt" style="display:none" formControlName="fileName" (change)="onFileChange($event)">
        <button mat-raised-button class="choose-file-btn" id="fileSelect" type="button">
          <mat-icon inline=true style="float:left;">attach_file</mat-icon>
          Choose File
        </button>
        <mat-form-field appearance="outline" class="input" id="email-input">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="userEmail">
        </mat-form-field>
        <mat-form-field appearance="outline" class="input" id="project-input">
          <mat-label>Project Name</mat-label>
          <input matInput formControlName="requestName">
        </mat-form-field>
        <button mat-raised-button color="primary" class="submit-btn" (click)="sendFile()">
          Submit
        </button>
      </form>
    </mat-card>
</div>
