<h2>REQUEST</h2>
<p><i class="material-icons">send</i> Send requests</p>
<h2>HISTROY</h2>
<p>
  <i class="material-icons">
    access_time
  </i>
  <span>Recent requests list</span>
</p>
<p routerLink="/performance">
  <i class="material-icons">
    equalizer
  </i>
  <span>Performance</span>
</p>
<p routerLink="/details">
  <i class="material-icons">
    star
  </i>
  <span>Details</span>
</p>
<p routerLink="/data-explorer">
  <i class="material-icons">
    compass_calibration
  </i>
  <span>Data Explorer</span>
</p>
