.container {
  min-height: 100%;
}

mat-card-title {
  font-size: 14px;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-drawer-content {
  min-height: 600px;
}

.example-sidenav {
  padding: 50px;
  display: flex;
  min-height: 600px;
  align-items: center;
  justify-content: center;
}



.annotation-container {
  display: flex;
  flex-direction: row;
}

.word {
  height: 40px;
  font-size: 14px;
}

.chart {
  height: 40px;
  text-align: center;
  display: flex;
}

.chart-percent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.negative {
  background-color: #ed8380;
}

.neutral {
  background-color: #ffe799;
}

.positive {
  background-color: #99dbaa;
}
