<div class="container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z2 content-container"
  >
    <ng-container matColumnDef="word">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
      <td mat-cell *matCellDef="let element">{{ element.rank }}</td>
    </ng-container>

    <ng-container matColumnDef="positive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Positive</th>
      <td mat-cell *matCellDef="let element">
        <span>
          {{ element.positive }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="neutral">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Neutral</th>
      <td mat-cell *matCellDef="let element">
        <span >
          {{ element.neutral }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="negative">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Negative</th>
      <td mat-cell class="highlight" *matCellDef="let element">
        <span>
          {{ element.negative }}
        </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- <div [hidden]="source.length != 0">
  <div id = "noData">
    <span class="material-icons" width="100px">
      inbox
      </span>
    NO DATA
  </div>
</div> -->

