/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Google Sans", Roboto, HelveticaNeue, Arial, sans-serif;
  font-weight: normal;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.long-width {
  width: 60%;
}

.short-width {
  width: 20%;
}

.min-width {
  width: 10%;
}

.title-unbold {
  font-weight: normal;
}

.content-container {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  min-height: 400px;
}

mat-tab-group {
  height: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}
