<div>
  <!-- right part -->
  <mat-toolbar>
    <mat-toolbar-row>
      <table class="full-width">
        <tr>
          <th class="long-width align-center">Tweet Content</th>
          <th width="25%">Annotation</th>
          <th class="short-width align-center">Kappa Score</th>
          <mat-menu #appMenu="matMenu" src="../../assets/icon.png">
            <button mat-menu-item (click)="sortScoreDesc()">
              Score⬆
            </button>
            <button mat-menu-item (click)="sortScoreAsc()">Score⬇</button>
            <button mat-menu-item (click)="sortIDAsc()">ID⬇</button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>
              swap_vert
            </mat-icon>
          </button>
        </tr>
      </table>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel class="margin-mid" *ngFor="let item of detail">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <table class="full-width">
            <tr>
              <th class="long-width align-left">
                {{ item.tweet | readLess }}
              </th>
              <th class="min-width align-center">
                <span appHighlight [label]="item.annotation">
                  {{ item.annotation | titlecase }}
                </span>
              </th>
              <th class="min-width"></th>
              <th class="min-width align-center">{{ item.score }}</th>
            </tr>
          </table>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-panel-description class="panel">
        <table class="full-width">
          <tr *ngIf="item.tweet.length !=0">
            <th class="long-width align-left">
              <strong>Tweet Content</strong>
            </th>
            <th class="min-width align-center">Vader</th>
            <th class="min-width align-center">Textblob</th>
            <th class="min-width align-center">StanfordNLP</th>
          </tr>
          <tr>
            <th class="long-width align-left">{{ item.tweet }}</th>
            <th class="min-width align-center">
              <span appHighlight [label]="item.vader">
                {{ item.vader | titlecase }}
              </span>
            </th>
            <th class="min-width align-center">
              <span appHighlight [label]="item.textblob">
                {{ item.textblob | titlecase }}
              </span>
            </th>
            <th class="min-width align-center">
              <span appHighlight [label]="item.stanfordNLP">
                {{ item.stanfordNLP | titlecase }}
              </span>
            </th>
          </tr>
          <tr *ngIf="item.sentences.length !=0">
            <th class="long-width align-left">
              <strong>Sentence Content</strong>
            </th>
            <!-- <th class="min-width align-center">Vader</th>
            <th class="min-width align-center">Textblob</th>
            <th class="min-width align-center">StanfordNLP</th> -->
          </tr>

          <tr *ngFor="let sentence of item.sentences">
            <th class="long-width align-left">{{ sentence.tweet }}</th>
            <th class="min-width align-center">
              <span appHighlight [label]="sentence.vader">
                {{ sentence.vader | titlecase }}
              </span>
            </th>
            <th class="min-width align-center">
              <span appHighlight [label]="sentence.textblob">
                {{ sentence.textblob | titlecase }}
              </span>
            </th>
            <th class="min-width align-center">
              <span appHighlight [label]="sentence.stanfordNLP">
                {{ sentence.stanfordNLP | titlecase }}
              </span>
            </th>
          </tr>
        </table>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
    </mat-expansion-panel>
  </mat-accordion>
</div>
