.margin-mid {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.mat-toolbar-row {
  margin: auto;
  width: 80%;
}

.mat-toolbar {
  background-color: #fafafa;
}

th {
  font-size: 14px;
  font-weight: normal;
  padding: 6px;
}

.panel {
  color: black;
}

/* .annotation {
  width: 70px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px;
  border-radius: 5%;t
} */

mat-card {
  font-size: 40px;
  text-align: center;
  margin: 80px 200px;
}

#noData {
  font-size: 40px;
  text-align: center;
  margin: 80px 200px;
}

div.ng-star-inserted{
  min-height: 750px;
}
